<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>22333</title>
</head>
<body>
    <script>
        //
        const p  ={
            name : 'si',
            age : 18
        }

        console.log({
            ...p
            ,
            name : '9999'
        });
        console.log(Promise.resolve(1).then((res) => Promise.resolve(2*res)))
        console.log(Promise.resolve(1));

    </script>
    
</body>
</html>